:root {
    font-size: 62.5%;
    list-style: none;
    --white:rgb(255, 255, 255);
    --roxo:rgba(115,103,240,1);
    --roxo_claro:rgba(206,159,252,1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: var(--white);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body{
    background: #000000;
    margin: 0 auto; /*centraliza*/
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden; 
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: var(--roxo);
}
  
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid var(--roxo_claro);
}

/*header*/

header{
    align-items: center;
    justify-content: center;
    padding: 0 123px 0;
    max-width: 1440px;
    width: 100%;
}

.header_container{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 7.4rem;
}

.header_container ul{
    display: flex;
    gap: 3rem;
    font-size: 1.6rem;
}

.header_container ul a{
    text-decoration: none;
}

.header_container ul a:hover{
    color: var(--roxo);
}

.header_container picture{
    margin-right: 4.8rem;
}

.header_btn{
    margin-left: auto;
    gap: 1.6rem;
    display: flex;
}

.header_btn button, .main_btn button:nth-child(1), .plantaformas_texts button{
    height: 5.8rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.header_btn button:nth-child(2):hover{
    background: var(--roxo_claro);
    cursor: pointer;
}

.header_btn button:nth-child(1), .main_btn button:nth-child(1), .plantaformas_texts button{
    width: 18rem;
    border:none;
    background: rgb(206,159,252);
    background: linear-gradient(180deg, rgba(206,159,252,1) 0%, rgba(165,130,247,1) 50%, rgba(115,103,240,1) 99%);  
}

.header_btn button:nth-child(2){
    width: 20rem;
    border: 2px solid rgb(206,159,252);
    border: linear-gradient(180deg, rgba(206,159,252,1) 0%, rgba(165,130,247,1) 50%, rgba(115,103,240,1) 99%);
    border-image-slice: 1;
    border-radius: 0.5rem;  
    background-color: transparent;
}

.header_btn button:nth-child(1):hover, .main_btn button:nth-child(1):hover, .plantaformas_texts button:hover{
    transform: scale(1.1);
    background: var(--roxo);
    cursor: pointer;
}

/*main_container*/

main{
    width: 100%;
    height: 73.993rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 7.5rem 0;
}

.main_container picture:nth-child(1){
    position: absolute;
    left: 0;
    margin-top: -50rem;
    margin-left: -4rem;
    z-index: -1;
}

.main_container picture:nth-child(2){
    position: absolute;
    right: 0;
    rotate: 60deg;
    margin-top: 40rem;
}

.main_container picture:nth-child(3){
    position: absolute;
    left: 0;
    rotate: -33.44deg;
    filter: blur(6.73px);
    transform: scale(0.7);
    margin-top: 50rem;
}

.main_container picture:nth-child(4){
    position: absolute;
    margin-top: 80rem;
    margin-right: -20rem;
}

.main_container picture:nth-child(5){
    position: absolute;
    left: 0;
    margin-top: 5rem;
    margin-left: -3rem;
}

.main_container{
    width: 124.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 19.9rem;
}

.main_container h1{
    font-size: 11.6rem;
    font-family: 'CabinetGrotesk-Black';
}

.main_container h1:nth-child(6){
    -webkit-text-stroke: 0.2rem white;
    color: transparent;
    position: relative;
}

.main_container h1:nth-child(6)::before{
    content: 'One Step Closer To';
    position: absolute;
    color: white;
    width: 100%;
    z-index: -1000;
}

.main_container h1:nth-child(7){
    background-image: linear-gradient(to bottom, rgb(137, 137, 137), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.let{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 4.2rem 0 4.7rem 0;
}

/*main_btn*/

.main_btn{
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.main_btn button:nth-child(2){
    width: 14.4rem;
    height: 4.8rem;
}

.our_story{
    background-image: url(../image/video-square.svg);
    height: 3rem;
    background-repeat: no-repeat;
    text-align: right;
    font-size: 1.8rem;
    background-position: center left;
    background-color: transparent;
}

.our_story:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*main_frame_users*/

.main_frame_users{
    margin-top: 9.6rem;
    display: flex;
    gap: 4.7rem;
}

.main_frame_users .users_n{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_frame_users .users_n h3{
    font-size: 3.2rem;
    font-family: 'CabinetGrotesk-Black';
}

.main_frame_users .users_n p{
    font-size: 1.8rem;
}

/*logos_aleto*/

.logos_aleto{
    content: '';    
    width: 100%;
    height: 14rem;
    transform: rotate(3deg);
    margin-top: 21.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    position: relative;
}

.logos_aleto picture img{
    transform: rotate(-3deg);
}

.logos_aleto::before{
    content: '';
    width: 100%;
    height: 14rem;
    transform: rotate(-4deg);
    background: rgb(206,159,252);
    background: linear-gradient(180deg, rgba(206,159,252,1) 0%, rgba(165,130,247,1) 50%, rgba(115,103,240,1) 99%);  
    position: absolute;
    opacity: 0.7;
}

.logos_aleto::after{
    content: '';
    position: absolute;
    background: rgb(206,159,252);
    background: linear-gradient(180deg, rgba(206,159,252,1) 0%, rgba(165,130,247,1) 50%, rgba(115,103,240,1) 99%);  
    width: 100%;
    height: 14rem;
}

.logos_aleto picture{
    z-index: 100;
}

/* plantaformas */

.plantaformas{
    height: 80rem;
    display: flex;
    align-items: center;
}

.plantaformas_container{
    gap: 11.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plantaformas_texts{
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.plantaformas_texts span, .newest_texts span, .explore_txt span{
    background-image: linear-gradient(180deg, rgba(206,159,252,1) 0%, rgba(165,130,247,1) 50%, rgba(115,103,240,1) 99%);  
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.plantaformas_texts h1, .plantaformas_texts span, .newest_texts h1, .newest_texts span, .explore_txt, .explore_txt span{
    font-family: 'CabinetGrotesk-Black';
    font-size: 4rem;
}

.plantaformas_texts p, .newest_texts p, .nulla_txt{
    font-size: 1.8rem;
    color: #D8D8D8;
    margin-bottom: 2.5rem;
}

/*newest_jobs*/

.newest_jobs{
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newest_container{
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newest_texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 5.4rem;
}

.links ul{
    display: flex;
    gap: 7.4rem;
    font-size: 1.8rem;
}

.links ul li{
    height: 7rem;
}

.links ul li a{
    text-decoration: none;
    color: #959595;
}

.links ul li:hover{
    border-bottom: 3px solid var(--roxo);
}

.links ul li a:hover{
    color: white;
}

.newest_cards{
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card_container{
    width: 35rem;
    height: 23.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.3rem;
}

.newest_cards .card{
    width: 35rem;
    height: 23.5rem;
    background: #171717;
    position: relative;
}

.newest_cards .card::before{
    position: absolute;
    content: '';
    background: url(../image/foguinho.svg);
    background-size: 21.2rem;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.card_input{
    display: flex;
    gap: 1.5rem;
    z-index: 10;
}

.card_input input{
    width: 9.2rem;
    height: 4.6rem;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
}

.card_input input::placeholder{
    text-align: center;
    color: white;
}

.card_texts{
    line-height: 3.3rem;
    width: 100%;
}

.card_texts h3{
    font-size: 2.2rem;
}

.card_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card_btn button{
    width: 9.2rem;
    height: 4.6rem;
    border-radius: 5px;
    background: rgb(206,159,252);
    background: linear-gradient(180deg, rgba(206,159,252,1) 0%, rgba(165,130,247,1) 50%, rgba(115,103,240,1) 99%); 
    z-index: 10;
    cursor: pointer;
}

.card_btn span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 10;
}

/*card_category*/

.categories{
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.categories_container{
    height: 80rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.categories_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2rem;
}

.popular{
    width: 44.2rem;
    height: 40.1rem;
    display: flex;
    align-items: center;
    background: #171717;
}

.popular_container{
    width: 44.2rem;
    height: 40.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
}

.popular_container h1{
    font-family: 'CabinetGrotesk-Black';
    font-size: 2.6rem;
    width: 100%;
    margin-bottom: 1rem;
}

.text_ball{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_ball p:nth-child(1){
    font-size: 1.6rem;
}

.popular_container .text_ball:nth-child(2) p:nth-child(2), .popular_container .text_ball:nth-child(6) p:nth-child(2){
    font-size: 1.6rem;
    width: 3.8rem;
    height: 3.8rem;
    background: rgb(206,159,252);
    background: linear-gradient(180deg, rgba(206,159,252,1) 0%, rgba(165,130,247,1) 50%, rgba(115,103,240,1) 99%); 
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000000;
}

.popular_container .text_ball:nth-child(4) p:nth-child(2), .popular_container .text_ball:nth-child(8) p:nth-child(2){
    font-size: 1.6rem;
    width: 3.8rem;
    height: 3.8rem;
    background-color: var(--white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000000;
}

.popular hr{
    width: 100%;
}

/*card_category*/

.card_category{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100%;
}

.card_category_container{
    width: 30.3rem;
    height: 12.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #171717;
    padding: 3.6rem;
}

.card_category_container span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.65rem;
}

/* .card_category_container span svg{
    filter: brightness(0);
    fill: #c90000;
} */